
 
<div class="container px-4 py-5" id="custom-cards">
 <div class="row row-cols-1 row-cols-lg-3 align-items-center g-4 py-5">

          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
              style="background-image: url('{{imageUrl}}'); background-repeat: no-repeat; background-size: cover;">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
             <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"> {{name}}</h2>
            <p>{{description}}</p>
            <p>Prep Time: {{prepTime}} mins</p>
            <p>Cook Time: {{cookTime}} mins</p>
            <p>Ingredients: {{ingredients}} </p>
            <p>Directions: {{instructions}}</p>

        
              </div>
            </div>
          </div>
   
      </div>




